{% extends "layouts/base.html" %}

{% block title %} Add Teacher {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    @charset "UTF-8";
    .avatar-wrapper {
      position: relative;
      height: 100px;
      width: 100px;
      margin: 10px auto;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 1px 1px 15px -5px black;
      transition: all 0.3s ease;
    }
    .avatar-wrapper:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
    .avatar-wrapper:hover .profile-pic {
      opacity: 0.5;
    }
    .avatar-wrapper .profile-pic {
      height: 100%;
      width: 100%;
      transition: all 0.3s ease;
    }
    .avatar-wrapper .profile-pic:after {
      font-family: FontAwesome;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      font-size: 190px;
      background: #ecf0f1;
      color: #34495e;
      text-align: center;
    }
    .avatar-wrapper .upload-button {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    .avatar-wrapper .upload-button .fa-arrow-circle-up {
      position: absolute;
      font-size: 100px;
     
      left: 0;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease;
      color: #34495e;
    }
    .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
      opacity: 0.9;
    }

</style>
{% endblock stylesheets %}

{% block content %}


<form role="form" method="post" action="" enctype="multipart/form-data" class="col-md-9" novalidate>
    {{ form.hidden_tag() }}   
    <br/>
    <h3 class="border-bottom mb-7">Teacher details</h3>
    <br>
    {%if msg%}
        {%if msg == "Success"%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congrats!</strong> added Successfully.
            </div>
        {%else%}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {%endif%}
    {%endif%}
    
   <!--Avtar-->
    <div class="avatar-wrapper">
        <img class="profile-pic" src="static/images/avtar.png" />
        <div class="upload-button">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
        </div>
        {{ form.profile_picture(class="file-upload file_size",accept="image/*") }}
    </div>
    {% for error in form.profile_picture.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--First Name // errors for firstname-->
    {{ form.firstname.label(class="form-control-label") }}<span style="color: red;">*</span>
    <div class="input-group mb-1">
        {{ form.firstname( class="form-control") }}
    </div>
    {% for error in form.firstname.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--Last Name // errors for Lastname-->
    {{ form.lastname.label(class="form-control-label") }}
    
    <div class="input-group mb-1">
        {{ form.lastname(class="form-control") }}
    </div>
    {% for error in form.lastname.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--Email-->
    {{ form.email.label(class="form-control-label") }}<span style="color: red;">*</span>
    
    <div class="input-group mb-1">
        {{ form.email( class="form-control", type="email") }}
    </div>
    {% for error in form.email.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--Phone 1-->
    {{ form.phone1.label(class="form-control-label") }}<span style="color: red;">*</span>
    
    <div class="input-group mb-1">
        {{ form.phone1(class="form-control", type="tel",pattern="[1-9]{1}[0-9]{9}") }}
    </div>
    {% for error in form.phone1.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--Phone 2-->
    {{ form.phone2.label(class="form-control-label") }}
    
    <div class="input-group mb-1">
        {{ form.phone2(class="form-control", type="tel") }}
    </div>
    {% for error in form.phone1.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--Address-->
    {{ form.address.label(class="form-control-label") }}<span style="color: red;">*</span>
    
    <div class="input-group mb-1">
        {{ form.address( class="form-control") }}

    </div>
    {% for error in form.address.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    
    <!--Password-->
    {{ form.password.label(class="form-control-label") }}<span style="color: red;">*</span>
    
    <div class="input-group mb-1">
        {{ form.password(class="form-control", type="password") }}
    </div>
    {% for error in form.password.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    
    <!--Age-->

    {{ form.dob.label(class="form-control-label") }}<span style="color: red;">*</span>
    
    <div class="input-group mb-1">
        {{ form.dob( class="form-control" ,type="date") }}
    </div>
    {% for error in form.dob.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    
    <!--categories-->
    {{ form.categories.label(class="form-control-label") }}<span>(you can select multiple with ctrl)</span><span style="color: red;">*</span>

    <div class="input-group mb-1">
        {{ form.categories(class="form-control",size="3", multiple= True) }}<span style="color: red;">*</span>
    </div> 
    {% for error in form.categories.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    
    <!-- Rating -->
    <div class="input-group">
        <span>{{form.rating.label}} Out Of 10</span>
        <span style="color: red;">*</span>
    </div>
    <div class="input-group mb-1">
        {{ form.rating(class="form-control") }}
    </div> 
    {% for error in form.rating.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}

    <!--Experiences-->
    <div class="input-group">
        {{form.experience.label}}
        <span style="color: red;">*</span>
    </div>
    <div class="input-group mb-1">
        {{ form.experience(class="form-control") }}
    </div>
    {% for error in form.experience.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    

    <!--Qualifications-->
    <div class="input-group">
        {{form.qualifications.label}}*
        <span style="color: red;">*</span>
    </div>
    <div class="input-group mb-1">
        {{ form.qualifications(class="form-control") }}
    </div>
    {% for error in form.qualifications.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    
    <!--Upload docs-->
    <div class="input-group">
       {{form.doc1.label}}
    </div>
    <div class="input-group mb-1">
        {{ form.doc1(class="form-control file_size") }}
    </div>
    <!--2-->
    <div class="input-group">
        {{form.doc2.label}}
     </div>
     <div class="input-group mb-1">
         {{ form.doc2(class="form-control file_size") }}
     </div>
     <!--3-->
     <div class="input-group">
        {{form.doc3.label}}
     </div>
     <div class="input-group mb-1">
         {{ form.doc3(class="form-control file_size") }}
     </div>
     <!--4-->
     <div class="input-group">
        {{form.doc4.label}}
     </div>
     <div class="input-group mb-1">
        {{ form.doc4(class="form-control file_size") }}
     </div>
     <div class="input-group">
        {{form.remark.label}}
    </div>
    <div class="input-group mb-1">
        {{ form.remark(class="form-control") }}
    </div>
    {% for error in form.remark.errors %}
        <div style="color: red;">*{{ error }}</div>
    {% endfor %}
    
    
    <!--submit-->
    <button type="submit" class="btn btn-primary shadow-2 mt-4">Add</button>
   
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
	
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }
        
                reader.readAsDataURL(input.files[0]);
            }
        }
       
        $(".file-upload").on('change', function(){
            readURL(this);
        });
        
        $(".upload-button").on('click', function() {
           $(".file-upload").click();
        });
    });
    // size limit for images,video and broucher
    $(document).ready(function(){
        maxfilesize=5*1024*1024;
        $(".file_size").change(function(){
           filesize = this.files[0].size;
     
           if (filesize > maxfilesize){
              this.setCustomValidity("you can only upload file under 5 MB");
               this.reportValidity();
               this.value=""
           }
           else{
                   this.setCustomValidity("");
           }
        })
     }
     )
</script>
{% endblock javascripts %}
