{% extends "layouts/base.html" %}

{% block title %} Get Course {% endblock %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
{% endblock stylesheets %}

{% block content %}
<br/>
<div class="container-fluid">
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Category</th>
            <th>Age Limit</th>
            <th>Course Type</th>
            <th>Rating</th>
            <th>Code</th>
            <th>Level</th>
            <th>Created at</th>
            <th>Last Update</th>
            <th>View</th>
        </tr>
    </thead>
    {% for course,category in data %}
    <tr>
        <td>{{course.course_name}}</td>
        <td>{{category.category_name}}</td>
        <td>{{course.minage}}-{{course.maxage}}</td>
        <td>{{course.coursetype}}</td>
        <td>{{course.rating}}<i class="fa fa-star" style="font-size:18px;color:yellow"></i></td>
        <td>{{course.course_code}}</td>
        <td>{{course.level}}</td>
        <td>{{course.created_at}}</td>
        <td>{{course.update_at}}</td>
        <td><a href="/viewCourse?id={{course.id}}"><i class="fas fa-external-link-alt"></i></a></td>
    </tr>
    {% endfor %}


</table>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>
  $(document).ready( function () {
    $('#table_id').DataTable();
  } );



</script>
{% endblock javascripts %}

