{% extends "layouts/base.html" %}

{% block title %} Get Category {% endblock %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.css"> -->
{% endblock stylesheets %}

{% block content %}

<!-- <div class="row"> -->
<!-- <div class="col-md-9 mb-5"> -->
<div class="col-md-12 mb-5">
<form method="POST" class="needs-validation" enctype="multipart/form-data" role="form" action="" novalidate>
        {{ form.hidden_tag() }}
        <!-- main row start -->
        <div class="row">  
    
        <!-- basic detais about category -->
        <div class="col">
                    
            <legend class="mb-7">{{category.name}} Update</legend>
            <br/>
        <!--this for loop will show error or success messages-->
        {%for message in get_flashed_messages() %}
        {%if message == "success"%}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
           <strong>Congratulation!</strong> Category Updated Successfully
         </div>
        {%else%}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {%endif%}
      {%endfor%}
      <!--.................................................-->
      
      <div class="form-group">
        <div class="col">{{ form.name.label(class="form-control-label",style="color:rgba(138, 135, 135, 0.774)") }}</div>
        <div class="col-sm-12">
            {% if form.name.errors %}
            {{ form.name( class="form-control is-invalid",style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;",value=category.name ) }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <div class="valid-feedback">Looks good!</div>           
                {{ form.name(class="form-control",style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;",value=category.name) }}   
            {% endif %}
        </div>
    </div>
        <div class="form-group">
                <div class="col">{{ form.discription.label(class="form-control-label",style="color:rgba(138, 135, 135, 0.774)") }}</div>
                <div class="col-sm-12">
                {% if form.discription.errors %}
                    {{ form.discription(class="form-control form-control-lg is-invalid",style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
                    <div class="invalid-feedback">
                        {% for error in form.discription.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.discription(class="form-control form-control-lg",style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
                {% endif %}
            </div>
        </div>

        <div class="form-group ">
            <div class="col">{{ form.remark.label(class="form-control-label",style="color:rgba(138, 135, 135, 0.774)") }}</div>
            <div class="col-sm-12">
            {% if form.remark.errors %}
                {{ form.remark(class="form-control form-control-lg is-invalid",value=category.remark,style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
                <div class="invalid-feedback">
                    {% for error in form.remark.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.remark(class="form-control form-control-lg",value=category.remark,style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
            {% endif %}
        </div>
        </div>

        <div class="form-group">
            <div class="col">{{ form.state.label(class="form-control-label",style="color:rgba(138, 135, 135, 0.774)") }}</div>
            <div class="col-sm-12">
            {% if form.state.errors %}
                {{ form.state(class="form-control form-control-lg",style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
                <div class="invalid-feedback">
                    {% for error in form.state.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.state(class="form-control form-control-lg",style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
                <div class="valid-feedback">
                    Looks good!
                 </div>
            {% endif %}
        </div>
        </div>


        <div class="form-group ">
            <div class="col">{{ form.ranking.label(class="form-control-label",style="color:rgba(138, 135, 135, 0.774)") }}</div>
            <div class="col-sm-12">
            {% if form.ranking.errors %}
                {{ form.ranking(class="form-control form-control-lg is-invalid",value=category.ranking,style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
                <div class="invalid-feedback">
                    {% for error in form.ranking.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.ranking(class="form-control form-control-lg",value=category.ranking,style="font-size:larger;background: transparent;border-top:0px;border-left: 0px;border-right: 0px;") }}
            {% endif %}
        </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                update category
              </button>
        </div>
        
        <!-- <div class="form-group row">
            <div class="col"></div>
            <button type="button" name="submit" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Update category</button>
        </div> -->
      
          <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update category</h5>
              
            </div>
            <div class="modal-body">
              <span style="color: currentColor;">are you sure you want to update?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- basic details end -->
    <!-- files details -->
    <!-- column two -->
    <div class="col">
    
        <div class="col">
            <div class="card" style="width: 25rem;">
                <img id="imageid" src="{{CATEGORY_VIEW_FOLDER}}{{category.name}}/{{category.image}}" height="250px" class="card-img-top" alt="...">
                <div class="card-body">
                {% if form.image.errors %}
                        {{ form.image(id='image',onchange="showPreviewOne(event)",class="form-control form-control-lg is-invalid file_size",hidden='hidden',accept='image/*') }}
                        <div class="invalid-feedback">
                            {% for error in form.image.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                        {{ form.image(id='image',onchange="showPreviewOne(event)",class="form-control form-control-lg file_size",hidden='hidden',accept='image/*') }}
                {% endif %}
                {{ form.image.label(class="form-control-label btn btn-primary",value='Change',for="image") }}
                <button class="btn btn-primary" type="submit">Save Change</button> 
        
                </div>
              </div>  
              </div>
          
              <div class="col">
                <div class="card " style="width: 25rem;">
                  <iframe id="videoid" src="{{CATEGORY_VIEW_FOLDER}}{{category.name}}/{{category.video}}" height="250px" class="card-img-top" scroll="auto" alt="..."></iframe>
                  <div class="card-body">
                  {% if form.video.errors %}
                          {{ form.video(id='video',onchange="showPreviewOne(event)",class="form-control form-control-lg is-invalid file_size",hidden='hidden',accept='video/*') }}
                          <div class="invalid-feedback">
                              {% for error in form.video.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                  {% else %}
                          {{ form.video(id='video',onchange="showPreviewOne(event)",class="form-control form-control-lg file_size",hidden='hidden',accept='video/*') }}
                  {% endif %}
                  {{ form.video.label(class="form-control-label btn btn-primary",id="vid",value='Change',for="video") }}
                 <button class="btn btn-primary" type="submit">Save Change</button>
            
                  </div>
                </div>  
                </div>
          
    
        
    
     
    </div>
    <!-- column three -->
    
     

<!-- main row -->
</div>
 </form>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script>

    function showPreviewOne(event){
      if(event.target.files.length > 0){
        let src = URL.createObjectURL(event.target.files[0]);
        let fid=event.target.id+'id'
        let preview = document.getElementById(fid);
        preview.src = src;
        preview.style.display = "block";
      } 
    }
   

// size limit for images,video and broucher
    $(document).ready(function(){
   maxfilesize=10*1024*1024;
   $(".file_size").change(function(){
      filesize = this.files[0].size;

      if (filesize > maxfilesize){
         this.setCustomValidity("you can only upload file under 10 MB");
          this.reportValidity();
          this.value=""
      }
      else{
              this.setCustomValidity("");
      }
   })
}
)

  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock javascripts %}